<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Car Update</h5></div>
             <div class="card-body">
             <form [formGroup]="carUpdateForm">
                <div class="mb-3">
                    <label for="brandId">Id</label>
                   <div class="form-group">
                       <input type="number" 
                        id="Id"
                        class="form-control"
                        placeholder="Id"
                        formControlName="id"/>
                   </div>
                   </div> 
                <div class="mb-3">
                 <label for="brandId">Brand Id</label>
                <div class="form-group">
                    <input type="number" 
                     id="brandId"
                     class="form-control"
                     placeholder="Brand Id"
                     formControlName="brandId"/>
                </div>
                </div>
                <div class="mb-3">
                <label for="colorId">Color Id</label>
                <div class="form-group">
                    <input type="number" 
                     id="colorId"
                     class="form-control"
                     placeholder="Color Id"
                     formControlName="colorId"/>
                </div>
                </div>
                <div class="mb-3">
                <label for="modelYear">Model Year</label>
                <div class="form-group">
                    <input type="number" 
                     id="modelYear"
                     class="form-control"
                     placeholder="ModelYear"
                     formControlName="modelYear"/>
                </div>
                </div>
                <div class="mb-3">
                <label for="dailyPrice">Daily Price</label>
                <div class="form-group">
                    <input type="number" 
                     id="dailyPrice"
                     class="form-control"
                     placeholder="Daily Price"
                     formControlName="dailyPrice"/>
                </div>
                </div>
                <div class="mb-3">
                <label for="description">Description</label>
                <div class="form-group">
                    <input type="text" 
                     id="description"
                     class="form-control"
                     placeholder="Description"
                     formControlName="description"/>
                </div>
                </div>
            </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-warning"
                (click)="update()">
                    Update
                </button>
            </div>
        </div> 
    </div>
</div>
