<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Car Update</h5></div>
             <div class="card-body">
             <form [formGroup]="carUpdateForm">
                <div class="mb-3">
                    <label for="brandId">Id</label>
                   <div class="form-group">
                       <input type="number" 
                        id="Id"
                        class="form-control"
                        placeholder="Id"
                        formControlName="id"/>
                   </div>
                   </div> 
                <div class="mb-3">
                 <label for="brandId">Brand Id</label>
                <div class="form-group">
                    <input type="number" 
                     id="brandId"
                     class="form-control"
                     placeholder="Brand Id"
                     formControlName="brandId"/>
                </div>
                </div>
                <div class="mb-3">
                <label for="colorId">Color Id</label>
                <div class="form-group">
                    <input type="number" 
                     id="colorId"
                     class="form-control"
                     placeholder="Color Id"
                     formControlName="colorId"/>
                </div>
                </div>
                <div class="mb-3">
                <label for="modelYear">Model Year</label>
                <div class="form-group">
                    <input type="number" 
                     id="modelYear"
                     class="form-control"
                     placeholder="ModelYear"
                     formControlName="modelYear"/>
                </div>
                </div>
                <div class="mb-3">
                <label for="dailyPrice">Daily Price</label>
                <div class="form-group">
                    <input type="number" 
                     id="dailyPrice"
                     class="form-control"
                     placeholder="Daily Price"
                     formControlName="dailyPrice"/>
                </div>
                </div>
                <div class="mb-3">
                <label for="description">Description</label>
                <div class="form-group">
                    <input type="text" 
                     id="description"
                     class="form-control"
                     placeholder="Description"
                     formControlName="description"/>
                </div>
                </div>
            </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-warning"
                (click)="update()" style="color:white;">
                    Update
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                      </svg>
                </button>
            </div>
        </div> 
    </div>
</div>
