<body class="text-center">
    
    <main class="form-signin">
      <form [formGroup]="loginForm"> 
        <img style ="width: 100px;" src="https://img.icons8.com/cotton/64/000000/car-rental--v1.png"/>
        <br><h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input 
          type="email" 
          class="form-control" 
          id="email" 
          placeholder="name@example.com"
          formControlName="email">
          <label for="floatingInput">Email address</label>
        </div> 
        <div class="form-floating">
          <input type="password" 
          class="form-control" 
          id="password" 
          placeholder="Password"
          formControlName="password">
          <label for="floatingPassword">Password</label>
        </div>
    
        
        <button 
        class="w-100 btn btn-lg btn-primary" 
        (click)="login()"
        >Sign in</button>
        
      </form>
    </main> 
    

        
      </body>
