<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

 <div class="md-3">
    <input type="email"[(ngModel)]="filterText" class="form-control" 
    id="filterText" 
    placeholder="search car">
  </div>


  <div *ngIf="filterText" class="alert alert-success">
      {{filterText}} aradınız
  </div><br>
<div class="card-footer " style="background-color:white;">
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>BRAND</th>
            <th>COLOR</th>
            <th>DAILYPRICE</th>
            <th>Amount payable in vehicle damage</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars |filterPipe:filterText" (click)="setCurrentCar(car)" 
    routerLink="/cars/{{car.id}}" class="table-active">  
        <td><img src="{{imageBasePath}}/{{car.image}}"class="img-fluid img-thumbnail " style="max-width:150px;" alt="..."></td> 
        <td>{{car.id}}</td>
        <td>{{car.brandName |uppercase}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice |currency}}</td>
        <td>{{car.dailyPrice |vatAddeed:40 |currency}}</td>
    </tr>
</table>
</div>



