<div class="container">

  <app-navi></app-navi>

  <div class="row">
     
    <div class="col-md-3"> 
      <h4>BRANDS</h4>
      <app-brand></app-brand><br>

      <div>
        <h4>COLORS</h4>
        <app-color></app-color>
      </div><br>

      <div>
        <h4>CUSTOMERS</h4>
      <app-customer></app-customer>
      </div>
    </div>

   
     
    <div class="col-md-9"> 
      <h4></h4>
      <router-outlet></router-outlet>
    </div>

  
    
  </div><br>

  <div class="row"> 

    <div class="col-md-3">
      <!-- component -->
    </div>
    
      
   <div class="col-md-9">
       <!-- component -->
    </div>
    
  </div><br>

  <div class ="row"> 
    <div class="col-md-3"> 
      <!-- component -->
    </div>
    
  </div>

 
</div>
