<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Color Delete</h5></div>
             <div class="card-body">
             <form [formGroup]="colorDeleteForm">
                <div class="mb-3">
                    <label for="brandId">Color Id</label>
                   <div class="form-group">
                       <input type="number" 
                        id="colorId"
                        class="form-control"
                        placeholder="Color Id"
                        formControlName="id"/>
                   </div>
                   </div>
                 <div class="mb-3">
                 <label for="brandId">Color Name</label>
                <div class="form-group">
                    <input type="text" 
                     id="colorName"
                     class="form-control"
                     placeholder="Color Name"
                     formControlName="name"/>
                </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-fill btn-danger"
            (click)="delete()">
                Delete
            </button>
        </div>
    </div> 
</div>
</div>

